<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              Email
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter
            </a>
          </li>
          {% endif %}
          {% if site.mastodon_username %}
          <li class="list-inline-item">
            <a rel="me" href="https://freiburg.social/@javahippie">
              Mastodon
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              GitHub
            </a>
          </li>
          {% endif %}
          {% if site.twitch_username %}
          <li class="list-inline-item">
            <a href="https://www.twitch.tv/{{ site.twitch_username }}">
              Twitch
            </a>
          </li>
          {% endif %}
          {% if site.youtube_channel %}
          <li class="list-inline-item">
            <a href="https://www.youtube.com/channel/{{ site.youtube_channel }}">
              YouTube
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              LinkedIn
            </a>
          </li> 
          {% endif %}
          {% if site.xing_username %}
          <li class="list-inline-item">
            <a href="https://www.xing.com/profile/{{ site.xing_username }}">
              Xing
            </a>
          </li>
          {% endif %}
	  <li class="list-inline-item">
             <a href="/feed.xml">
               RSS Feed
             </a>
           </li>

        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
